<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <packageSourceMapping>
      <packageSource key="dotnet-tools">
        <package pattern="MicroBuild.Core.Sentinel" />
        <package pattern="microsoft.*" />
      </packageSource>
      <packageSource key="dotnet-eng">
        <package pattern="microsoft.*" />
      </packageSource>
      <packageSource key="dotnet-public">
        <package pattern="EntityFramework" />
        <package pattern="Humanizer.Core" />
        <package pattern="MicroBuild.Core" />
        <package pattern="microsoft.*" />
        <package pattern="Mono.TextTemplating" />
        <package pattern="MSTest.TestAdapter" />
        <package pattern="MSTest.TestFramework" />
        <package pattern="NETStandard.Library" />
        <package pattern="Newtonsoft.Json" />
        <package pattern="NuGet.Common" />
        <package pattern="NuGet.Configuration" />
        <package pattern="NuGet.Frameworks" />
        <package pattern="NuGet.Packaging" />
        <package pattern="NuGet.Protocol" />
        <package pattern="NuGet.Versioning" />
        <package pattern="runtime.*" />
        <package pattern="system.*" />
        <package pattern="vswhere" />
      </packageSource>
    </packageSourceMapping>
  </configuration>